.dashboard-root {
  position: relative;

  .add-transaction-fab--fixed {
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    &.income {
      background-color: #43a047; // green 600
      right: calc(56px + 2rem); // TODO: use $mdc-fab-height
    }

    &.expense {
      background-color: #e53935; // red 600
    }

    @media(min-width: 1024px) {
      bottom: 1.5rem;
      right: 1.5rem;

      &.income {
        right: calc(56px + 3rem); // TODO: use $mdc-fab-height
      }
    }
  }
}
